@model EventsWeb.Models.Eventschedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eventschedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datestart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datestart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdeventNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdeventNavigation.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IduserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IduserNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ideventschedule">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
